<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/logobg.png') }}" >
    <title>Advasi Nilambari herbal hair oil</title>
</head>
<body>
    <div class="container">
        <!-- Sidebar included -->
        {% include 'sidebar.html' %}
        
        <!-- Main content area -->
        <div class="main-content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
